@(user: models.User, plugs: Seq[plugins.Plugin])

<html>
<head>
</head>
<body>

<form method="POST" action="@routes.GoalController.obtain">
New Goal: <select name="pluginId">
@for(plugin <- plugs) {
    <option value="@plugin.manifest.id">@plugin.manifest.name</item>
}
</select>
<input type="submit" value="Create" /><br />

@if(user.goals.length > 0) {
<ul>
    @for(goal <- user.goals) {
    <li><a href="@routes.GoalController.update(goal.slug)">@goal.title</a> (@goal.plugin.manifest.name)</li>
    }
</ul>
} else {
    <h1>You have no goals yet!</h1>
}
</body>
</html>
