@(optGoal: Option[Goal])
@import scala._; val options = optGoal.map { goal => new plugins.ChatPlugin.GoalChatView(goal).options }

Allow incoming conversations:
<input type="checkbox" name="allow_incoming" value="true"
@options match {
    case Some(opts) => { @if(opts.allowIncoming) { checked="checked" } else { } }
    case None => { checked="checked" }
}
/><br />

Wait how many days before chats with same person count again:
<input type="number" name="same_person_min_time" value="@options match {
    case Some(opts) => {@(opts.samePersonMinTime / 86400)}
    case None => {0}
}" />

