@(user: models.User, plugin: plugins.Plugin, optGoal: Option[Goal])

@preamble(optGoal match {
    case Some(goal) => "Update Goal // " + goal.title
    case None => "New Goal"
})

<h3>
    @optGoal match {
        case Some(goal) => { Update Goal: "@goal.title" }
        case None => { New Goal }
    }
</h3>
@optGoal match {
case None => {
    <form method="POST" action="@routes.GoalController.create">
        <input type="hidden" name="pluginId" value="@plugin.manifest.id" />
        <label>Goal Name:</label> <input type="text" name="title" placeholder="eg. @plugin.manifest.name" /> <br />
        <label>Goal URL:</label> http://beeminder.com/@user.username/<input type="text" name="slug" placeholder="eg. @plugin.manifest.id" /> <br />
        <label>Commit to:</label> <input type="number" name="perWeek" value="@plugin.manifest.perWeekDefault" /> per week <br />
}

case Some(goal) => {
    <form method="POST" action="@routes.GoalController.update(goal.slug)">
}
}

@plugin.renderOptions match {
case Some(render) => {
@if(!optGoal.isDefined) {
    <hr />
    <div class="hiddenLabel"></div>
    <div class="hidden">
}

    @render(optGoal)

@if(!optGoal.isDefined) {
    </div>
} else {
    <br />
}
}
case None => { }
}

<input type="submit" value="@optGoal match {
    case None => {Create}
    case Some(_) => {Update}
}" />

</form>

@footer()

