@(options: Option[play.api.templates.Html])

<html>
<body>
<h1>New Chat Goal</h1>
<form method="POST" action="@routes.GoalController.create">
    <input type="hidden" name="moduleId" value="chat" />
    Slug: <input type="text" name="slug" /> <br />
    Title: <input type="text" name="title" /> <br />
    Per week: <input type="number" name="perWeek" /> <br />
    <div class="options">
        @options match {
            case Some(opts) => { @opts }
            case None => { }
        }
    </div>
    <input type="submit" />
</form>
</body>
</html>
